.cajita {
  width: 300px;
  height: 300px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cajita-1 {
  background: #FFB6A1;
  width: 100vw;   /* ancho: 100% de la ventana */
  height: 100vh;  /* alto: 100% de la ventana */
  margin: 0;      /* para evitar márgenes indeseados */
  padding: 0;     /* para evitar padding */
  position: relative; /* o absolute si quieres posicionarlo de forma absoluta */
}
