/* Reseteo márgenes y altura para que no haya espacio extra */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Contenedor principal que ocupa todo el espacio */
.cajita {
  height: 100%;
  width: 100%;
}

/* Caja que ocupa toda la pantalla */
.cajita-1 {
  background: #FFB6A1;
  width: 100vw;
  height: 100vh;
}

