.cajita {
  width: 300px;
  height: 300px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cajita-1 {
  width: 100px;
  height: 100px;
  background-color: red;
}

